body { 
    background-color: rgb(231, 231, 231);
    font-family:'Arial Narrow Bold', sans-serif;
    max-width: 90%;
    margin:auto;
    word-wrap: break-word;
    background-image:url(bg.jpg);     

  }

.mini{
  font-size: 0.7em; /** smaller font compared to rest of sentence **/
}
.big{
  font-size:x-large;
}

    